$main_color: #091023;
$header_height: 42px;

header {
  height: $header_height;
  width: 100%;
  background-color: $main_color;
  display: flex;
  justify-content: center;
  flex-direction: row;

  #head_bar {
    height: $header_height;
    width: 960px;


  }
}